@import '../../styles/partials/variables';

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

h1 {
    color: $navy;
    font-size: 2rem;
    text-align: center;
    // padding: 0.5em 0 0.5em 0;
}

.logo {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

.username {
    padding: 0.75rem 0.35rem;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5rem;
}

button {
    background-color: $gray;
    border: solid 1px $navy;
    font-size: 1.25rem;
    padding: 0.95rem;
    border-radius: 0.375rem;
    width: 100%;
}

button:hover {
    background-color: $navy;
    color: white;
}

.row {
    width: 100%;
}

.column {
    width: 100%;
    margin-bottom: 0.25rem;
}


/* small tablet styles */
@media (min-width: 45em) {
    .row {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .column {
        margin: 0;
    }

    .col-field {
        flex-basis: 75%;
        flex-grow: 2;
    }

    .col-button {
        margin-left: auto;
        flex-basis: 25%;
        
    }

    button {
        margin-left: 0.25rem;
    }
}

/* large tablet and laptop styles */
@media (min-width: 60em) {
    h1 {
        font-size: 2.5rem;
    }
}

/* desktop styles */
@media (min-width: 75em) {
    .row {
        width: 70%;
    }
}
